*{
	margin: 0;
	font-family: sans-serif;
	letter-spacing: 5px;
}

header{
	/* background-color: blue; */
	border: solid white 2px;
	top: 20px;
	border-radius: 10px 10px;
	height: 50px;
	box-sizing: border-box;
	padding: 17px;
	position: absolute;
	width: 30%;
	right: 0;
	left: 0;
	margin: auto;
	box-shadow: rgb(0, 0, 0) 0px 0px 100px;
}

header nav ul li{
	display: inline-block;
	text-align: center;
	width: 30%;
	font-weight: 500;
}

header a{
	text-decoration: unset;
	color: rgb(255, 255, 255);
}

header a:hover{
	color: rgb(231, 231, 231);
}



#hero-title{
	text-align: center;
	background-image: url(will-turner-GTPT_fNFQiE-unsplash.jpg);
	background-position: 60% 10%;
	height: 500px;
	box-sizing: border-box;
	padding-top: 200px;
	color: white;
	font-size: 120%;
}

.titles p{
	text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}

#first-section{
	text-align: center;
	background-image: url(andrea-orsini-DF8Tr3jssuU-unsplash.jpg);
	background-position: 50% 55%;
	height: 500px;
	box-sizing: border-box;
	padding-top: 200px;
	color: white;
	font-size: 120%;
	box-shadow: rgba(0, 0, 0, 0.295) 0 -5px 10px;
}

#second-section{
	text-align: center;
	background-image: url(jerry-wang-dO0hj3Oxm20-unsplash.jpg);
	background-position: 50% 55%;
	height: 500px;
	box-sizing: border-box;
	padding-top: 200px;
	color: white;
	font-size: 120%;
	box-shadow: rgba(0, 0, 0, 0.295) 0 -5px 10px;
}
