*{
	margin: 0;
	font-family: sans-serif;
	letter-spacing: 5px;
}

header{
	/* background-color: blue; */
	border: solid white 2px;
	top: 20px;
	border-radius: 10px 10px;
	height: 50px;
	box-sizing: border-box;
	padding: 17px;
	position: absolute;
	width: 30%;
	right: 0;
	left: 0;
	margin: auto;
	box-shadow: rgb(0, 0, 0) 0px 0px 100px;
}

header nav ul li{
	display: inline-block;
	text-align: center;
	width: 30%;
	font-weight: 500;
}

header a{
	text-decoration: unset;
	color: rgb(255, 255, 255);
}

header a:hover{
	color: rgb(231, 231, 231);
}



#hero-title{
	text-align: center;
	background-image: url(will-turner-GTPT_fNFQiE-unsplash.jpg);
	background-position: 60% 10%;
	height: 1472px;
	box-sizing: border-box;
	padding-top: 200px;
	color: white;
	font-size: 120%;
	vertical-align: middle;
}

button{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	left: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	height:50px;
	width: 250px;
	border: 0px;
}

#hero-title button:hover{
	height: 60px;
	width: 270px;
}


#title {
	text-shadow: rgba(0, 0, 0, 0.384) 0px 0px 15px;
	font-size: 80px;
	margin-top: 10vw;
	text-transform: uppercase;
	margin-left: 100px;
	margin-right: 100px;
}

#subtitle {
	text-shadow: rgba(0, 0, 0, 0.384) 0px 0px 15px;
	font-size: 30px;
}

